/*======== Sobre Mi ========*/

#Sobremi {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 650px;
}

.img-principal--1 {
  height: 250px;
  border-radius: 4rem;
}

.texto {
  max-width: 500px;
}

.info {
  font-size: 1rem;
  font-weight: 500;
  color: #c8cdd0;
}

.skills-titulo {
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
  color: #609dfa;
  margin: 8px 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
}

.cv {
  background-color: #003077;
  height: 60px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  cursor: pointer;
  overflow: hidden;
  margin: 30px 0 0 0;
}

.cv:hover {
  background-color: #1a58b6;
  transition: all 0.9s;
}

.cv a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #c8cdd0;
  font-size: 1.3rem;
  font-weight: 700;
}

.cv a:hover {
  color: #a8a9aa;
  transition: all 0.9s;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {

  /*======== Sobre Mi ========*/

  #Sobremi {
    height: 80vh;
    top: 1230px;
  }

  .sobremi {
    justify-content: center;
    align-items: center;
  }

  .img-principal--1 {
    display: none;
  }

  .texto {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    justify-content: center;
    align-items: center;
  }

  .info {
    font-size: 2rem;
    padding: 9px 10px;
    font-weight: 500;

  }

  .skills-titulo {
    font-size: 4rem;
    margin: 30px 0;
  }

  .items {
    width: 90px;
    height: 90px;
  }

  .items img {
    height: 50px;
  }

  .cv {
    height: 100px;
    width: 300px;
  }

  .cv a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {

  /*======== Sobre Mi ========*/

  #Sobremi {
    justify-content: flex-start;
    top: 676px;
    height: auto;
  }

  .img-principal--1 {
    display: none;
  }

  .texto {
    max-width: 390px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info {
    color: #c8cdd0;
    font-size: 18px;
    padding: 9px 10px;
    font-weight: 500;
  }

  .skills-titulo {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
    color: #609dfa;
    margin: 20px 0;
    text-transform: uppercase;
  }

  .skills {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }

  .skills .items {
    height: 50px;
  }

  .cv {
    justify-content: center;
    border: 1px blue solid;
  }
}