/*======== Contacto ========*/

#Contacto {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 2276px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario {
  background-color: #142b3d;
  border-radius: 40px;
  display: flex;
}

.contenedor__imagen {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

form {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  color: #c8cdd0;
  font-size: 18px;
  font-weight: 500;
  margin: 6px 6px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input input {
  background-color: #243e64;
  color: #c8cdd0;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

input:focus, textarea:focus{
  outline: #1e5dbb solid 3px;
}

.form-input input::placeholder {
  color: #c8cdd0;
  font-size: 16px;
  font-weight: 500;
}

.form-textarea {
  display: flex;
  flex-direction: column;
}

.form-textarea textarea {
  height: 120px;
  background-color: #243e64;
  color: #c8cdd0;
  resize: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.form-textarea textarea::placeholder {
  color: #c8cdd0;
  font-size: 16px;
  font-weight: 500;
}

.btnEnviar {
  background-color: #113b79;
  color: #c8cdd0;
  font-weight: 500;
  height: 50px;
  border-radius: 20px;
  border: 1px #113b79 solid;
  cursor: pointer;
  font-size: 2.3rem;
  margin-top: 10px;
}

.btnEnviar:hover {
  background-color: #00265f;
  color: #8a9aa7;
  transition: all 0.9s;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  /*======== Contacto ========*/

  #Contacto {
    height: 100vh;
    top: 4790px;
  }

  .contenedor__imagen {
    display: none;
  }

  .formulario {
    width: 600px;
    height: 760px;
    display: flex;
    justify-content: center;
  }

  form {
    width: 100%;
  }

  .form-input label {
    font-size: 2rem;
  }

  .form-input input {
    width: auto;
    height: 70px;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .form-input input::placeholder {
    font-size: 2rem;
  }

  .form-textarea label {
    font-size: 2rem;
  }

  .form-textarea textarea {
    width: auto;
    height: 250px;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .form-textarea textarea::placeholder {
    font-size: 2rem;
  }

  .btnEnviar {
    width: auto;
    height: 90px;
    margin-top: 20px;
  }

  .btnEnviar:active {
    background-color: #00265f;
    color: #8a9aa7;
    transition: all 0.9s;
  }
}

@media screen and (max-width: 767px) {
  /*======== Contacto ========*/

  #Contacto {
    height: 80vh;
    justify-content: flex-start;
    top: 3150px;
  }

  .mis-redes {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    max-width: 390px;
  }

  .formulario {
    max-width: 340px;
    height: 430px;
    padding: 18px;
    align-items: flex-start;
    justify-content: space-around;
  }

  .contenedor__imagen {
    display: none;
  }

  form {
    padding: 0;
  }

  .form-input {
    display: flex;
    justify-content: center;
  }

  .form-input input {
    width: 300px;
    height: 50px;
    margin-top: 0;
    font-size: 18px;
  }

  .form-input input::placeholder {
    font-size: 18px;
  }

  .form-textarea {
    display: flex;
    justify-content: center;
  }

  .form-textarea textarea {
    width: 300px;
    height: 120px;
    font-size: 18px;
  }

  .form-textarea textarea::placeholder {
    font-size: 18px;
  }

  .btnEnviar {
    height: 50px;
  }

  .btnEnviar:active {
    background-color: #00265f;
    color: #8a9aa7;
    transition: all 0.9s;
  }
}
